<h1>Listing Floor Plans</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Beds</th>
      <th>Baths</th>
      <th>Size</th>
      <th>Price</th>
      <th>Deposit</th>
      <th>Floorplan</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @floorplans.each do |floorplan| %>
      <tr>
        <td><%= floorplan.title %></td>
        <td><%= floorplan.beds %></td>
        <td><%= floorplan.baths %></td>
        <td><%= floorplan.size %></td>
        <td><%= floorplan.price %></td>
        <td><%= floorplan.deposit %></td>
        <td><%= floorplan.floorplan %></td>
        <td><%= link_to 'Show', location_floorplan_path(@location, floorplan) %></td>
        <td><%= link_to 'Edit', edit_location_floorplan_path(@location, floorplan) %></td>
        <td><%= link_to 'Destroy', location_floorplan_path(@location, floorplan), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Floor Plan', new_location_floorplan_path(@location) %>
