<% @location ||= location %>
<% @unit ||= unit %>

<%= form_for [@location, @unit], html: {role: "form"} do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :location_id, value: params[:id] %>

  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :price_url %><br>
      <%= f.text_field :price_url, type: "url", class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <%= f.label :available_now %><br>
      <%= f.number_field :available_now, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :available_soon %><br>
      <%= f.number_field :available_soon, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :beds %><br>
      <%= f.number_field :beds, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :baths %><br>
      <%= f.number_field :baths, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      <%= f.label :size %><br>
      <%= f.number_field :size, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :price %><br>
      <%= f.number_field :price, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :deposit %><br>
      <%= f.number_field :deposit, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :floorplan %><br>
      <%= f.text_field :floorplan, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit(class: "btn btn-primary pull-right") %>
    <%= link_to 'Cancel', @location, class: "btn" %>
    <% unless @unit.id.nil? %>
      <%= link_to 'Destroy', location_unit_path(@location, @unit), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
    <% end %>

  </div>
<% end %>
