<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @unit.title %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @unit.beds %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @unit.baths %>
</p>

<p>
  <strong>Size:</strong>
  <%= @unit.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @unit.price %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @unit.deposit %>
</p>

<p>
  <strong>Floorplan:</strong>
  <%= @unit.floorplan %>
</p>

<p>
  <strong>Pricing Url</strong>
  <%= @unit.price_url %>
</p>

<%= link_to 'Edit', edit_location_unit_path(@location, @unit) %> |
<%= link_to 'Back', location_units_path(@location) %>
