<h1><%= @location.name %></h1>

<p><%= link_to 'Create New Unit', new_location_unit_path(@location) %></p>

<ul class="e-content">
  <% @units.each do |unit| %>
    <li class="floorplan clearfix">

      <div class="floorplan-heading">
        <p><strong><%= unit.title %></strong></p>
        <a href="select-unit.html" class="choose-floorplan floorplan-btn"><span><strong class="color"><%= unit.available %></strong> Available Now</span>
          <!--><span class="soon"><strong class="color">3</strong> Available Soon</span></a>-->
      </div>

      <div class="floorplan-info">
        <div class="floorplan-img">
          <a href="#" class="floorplan-btn"><img src="<%= unit.floorplan %>" alt="Floorplan" /></a>
        </div>

        <div class="floorplan-beds">
          <p><strong><%= unit.beds %></strong> <%= 'Bed'.pluralize(unit.beds) %></p>
          <p><strong><%= unit.baths %></strong> <%= 'Bath'.pluralize(unit.baths) %></p>
        </div>

        <div class="floorplan-size">
          <p class="sq-ft floorplan-feature"><strong><%= unit.size %> </strong>Sq Ft</p>
        </div>

        <div class="floorplan-rent">
          <p>Starts At: <strong>$<%= unit.price %></strong></p>
          <p>Deposit: <strong>$<%= unit.deposit %></strong></p>
        </div>
      </div>
    </li> <!-- end floorplan -->
  <% end %>
</ul>

<p><%= link_to 'Edit Location and Units', edit_location_path(@location) %></p>