<header class="clearfix">
  <h2 class="pull-left"><%= @location.name %> Floor Plans</h2>
  <%= link_to 'Edit Location and Floor Plans', edit_location_path(@location), class: "btn btn-primary btn-lg pull-right" %>
  <%= link_to 'Create New Floor Plan', new_location_floor_plan_path(@location), class: "btn btn-success btn-lg pull-right" %>
</header>

<% if @floor_plans.empty? %>
  <p>No floor plans have been created yet.</p>
<% end %>


<div class="e-content">

  <h2>Select Your Apartment</h2>

  <div class="floorplan-container floorplan-box">

    <h3>1. Select Floor Plan</h3>

    <div class="filters clearfix">

      <div class="beds-filter filter">
        <strong class="filter-name color">Beds</strong>
        <input id="beds-0" type="radio" name="beds" value="0" /><label class="filter-btn" for="beds-0">Studio</label>
        <input id="beds-1" type="radio" name="beds" value="1" /><label class="filter-btn" for="beds-1">1</label>
        <input id="beds-2" type="radio" name="beds" value="2" /><label class="filter-btn" for="beds-2">2</label>
        <input id="beds-3" type="radio" name="beds" value="3" /><label class="filter-btn" for="beds-3">3</label>
        <input id="beds-all" type="radio" name="beds" value="all" /><label class="filter-btn" for="beds-all">All</label>
      </div>
      <div class="baths-filter filter">
        <strong class="filter-name color">Baths</strong>
        <input id="baths-1" type="radio" name="baths" value="1" /><label class="filter-btn" for="baths-1">1</label>
        <input id="baths-2" type="radio" name="baths" value="2" /><label class="filter-btn" for="baths-2">2</label>
        <input id="baths-3" type="radio" name="baths" value="3" /><label class="filter-btn" for="baths-3">3</label>
        <input id="baths-all" type="radio" name="baths" value="all" /><label class="filter-btn" for="baths-all">All</label>
      </div>
      <!-- <div class="filter available-filter">
        <label><input type="checkbox" /> Show Only Available</label>
      </div> -->

    </div> <!-- end filters -->

    <!-- STEP 1: CHOOSE FLOORPLAN -->
    <div class="floorplans-list">

      <ul id="sortable">
        <% @floor_plans.each do |floor_plan| %>
          <li class="floorplan clearfix" data-update_url="<%= location_floor_plan_path(@location, floor_plan) %>">

            <div class="floorplan-heading">
              <p><strong><%= floor_plan.title %></strong></p>
              <% if floor_plan.available_now || floor_plan.available_soon %>
                <a href="<%= pricing_service(floor_plan) %>" class="choose-floorplan floorplan-btn">
                  <% if floor_plan.available_now && floor_plan.available_now > 0 %>
                    <span><strong class="color"><%= floor_plan.available_now %></strong> Available Now</span>
                  <% end %>
                  <% if floor_plan.available_soon && floor_plan.available_soon > 0 %>
                    <span class="soon"><strong class="color"><%= floor_plan.available_soon %></strong> Available Soon</span>
                  <% end %>
                </a>
              <% else %>
                <a href="<%= pricing_service(floor_plan) %>" class="choose-floorplan floorplan-btn">
                  <span>Check Availability</span>
                </a>
              <% end %>
            </div>

            <div class="floorplan-info">
              <div class="floorplan-img">
                <% if floor_plan.image_url %>
                  <a href="<%= floor_plan.image_url %>" class="floorplan-btn"><img src="<%= floor_plan.image_url %>" alt="Floor Plan" /></a>
                <% end %>
              </div>

              <div class="floorplan-beds">
                <% if floor_plan.beds %>
                  <p><strong><%= floor_plan.beds %></strong> <%= 'Bed'.pluralize(floor_plan.beds) %></p>
                <% end %>
                <% if floor_plan.baths %>
                  <p><strong><%= floor_plan.baths %></strong> <%= 'Bath'.pluralize(floor_plan.baths) %></p>
                <% end %>
              </div>

              <div class="floorplan-size">
                <% if floor_plan.size %>
                  <p class="sq-ft floorplan-feature"><strong><%= floor_plan.size %> </strong>Sq Ft</p>
                <% end %>
              </div>

              <div class="floorplan-rent">
                <% if floor_plan.price %>
                  <p>Starts At: <strong>$<%= floor_plan.price %></strong></p>
                <% end %>
                <% if floor_plan.deposit %>
                  <p>Deposit: <strong>$<%= floor_plan.deposit %></strong></p>
                <% end %>
              </div>
            </div>
          </li> <!-- end floorplan -->
        <% end %>

      </ul>
    </div> <!-- end STEP 1: SELECT FLOORPLAN -->
  </div> <!-- end floorplan-container -->
</div> <!-- end floorplans -->


