<header class="clearfix">
  <h2 class="pull-left"><%= @location.name %> Floor Plans</h2>
  <%= link_to 'Edit Location and Floor Plans', edit_location_path(@location), class: "btn btn-primary btn-lg pull-right" %>
  <%= link_to 'Create New Floor Plan', new_location_floor_plan_path(@location), class: "btn btn-success btn-lg pull-right" %>
</header>

<% if @floor_plans.empty? %>
  <p>No floor plans have been created yet.</p>
<% end %>

<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Availability</th>
      <th>Thumbnail</th>
      <th>Beds</th>
      <th>Baths</th>
      <th>Size</th>
      <th>Price</th>
      <th>Deoposit</th>
    </tr>
  </thead>

  <tbody id="sortable">
    <% @floor_plans.each do |floor_plan| %>
      <tr class="floorplan" data-update_url="<%= location_floor_plan_path(@location, floor_plan) %>">
        <td><%= floor_plan.title %></td>
        <td>
          <% if floor_plan.available_now || floor_plan.available_soon %>
            <% if floor_plan.available_now && floor_plan.available_now > 0 %>
              <%= floor_plan.available_now %> Available Now
            <% end %>
            <% if floor_plan.available_now || floor_plan.available_soon %>
              <br />
            <% end %>
            <% if floor_plan.available_soon && floor_plan.available_soon > 0 %>
              <%= floor_plan.available_soon %> Available Soon
            <% end %>
          <% else %>
            Check Availability
          <% end %>
        </td>
        <td>
          <% if floor_plan.image_url.blank? %>
          ---
          <% else %>
            <img src="<%= floor_plan.image_url %>" alt="Floor Plan" />
          <% end %>
        </td>
        <td><%= floor_plan.beds ? floor_plan.beds : '---' %></td>
        <td><%= floor_plan.baths ? floor_plan.baths : '---' %></td>
        <td><%= floor_plan.size ? "#{floor_plan.size} Sq. Ft." : '---' %></td>
        <td><%= floor_plan.price ? "$#{floor_plan.price}" : '---' %></td>
        <td><%= floor_plan.deposit ? "$#{floor_plan.deposit}" : '---' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
