<header class="clearfix">
  <h2 class="pull-left"><%= @location.name %> Floor Plans</h2>
  <%= link_to 'Edit Location and Floor Plans', edit_location_path(@location), class: "btn btn-primary btn-lg pull-right" %>
  <%= link_to 'Create New Floor Plan', new_location_floor_plan_path(@location), class: "btn btn-success btn-lg pull-right" %>
</header>

<% if @floor_plans.empty? %>
  <p>No floor plans have been created yet.</p>
<% end %>


<div class="e-content">

  <h2>Select Your Apartment</h2>

  <div class="floorplan-container floorplan-box">

    <h3>1. Select Floor Plan</h3>

    <div id="filters" class="clearfix">

      <div class="beds-filter filter filter-btn">
        <strong class="color">Beds</strong>
        <a href="#" class="floorplan-btn">Studio</a>
        <a href="#" class="floorplan-btn">1</a>
        <a href="#" class="floorplan-btn">2</a>
        <a href="#" class="floorplan-btn">3</a>
        <a href="#" class="color floorplan-btn">All</a>
      </div>
      <div class="baths-filter filter filter-btn">
        <strong class="color">Baths</strong>
        <a href="#" class="floorplan-btn">1</a>
        <a href="#" class="floorplan-btn">2</a>
        <a href="#" class="floorplan-btn">3</a>
        <a href="#" class="color floorplan-btn">All</a>
      </div>
      <div class="filter available-filter">
        <label><input type="checkbox" /> Show Only Available</label>
      </div>

    </div> <!-- end filters -->

    <!-- STEP 1: CHOOSE FLOORPLAN -->
    <div class="floorplans-list">

      <ul>
        <% @floor_plans.each do |floor_plan| %>
          <li class="floorplan clearfix">

            <div class="floorplan-heading">
              <p><strong><%= floor_plan.title %></strong></p>
              <% if floor_plan.available_now && floor_plan.available_soon %>
                <a href="<%= pricing_service(floor_plan) %>" class="choose-floorplan floorplan-btn">
                  <% if floor_plan.available_now && floor_plan.available_now > 0 %>
                    <span><strong class="color"><%= floor_plan.available_now %></strong> Available Now</span>
                  <% end %>
                  <% if floor_plan.available_soon && floor_plan.available_soon > 0 %>
                    <span class="soon"><strong class="color"><%= floor_plan.available_soon %></strong> Available Soon</span>
                  <% end %>
                </a>
              <% end %>
            </div>

            <div class="floorplan-info">
              <div class="floorplan-img">
                <% if floor_plan.floorplan %>
                  <a href="#" class="floorplan-btn"><img src="<%= floor_plan.floorplan %>" alt="Floor Plan" /></a>
                <% end %>
              </div>

              <div class="floorplan-beds">
                <% if floor_plan.beds %>
                  <p><strong><%= floor_plan.beds %></strong> <%= 'Bed'.pluralize(floor_plan.beds) %></p>
                <% end %>
                <% if floor_plan.baths %>
                  <p><strong><%= floor_plan.baths %></strong> <%= 'Bath'.pluralize(floor_plan.baths) %></p>
                <% end %>
              </div>

              <div class="floorplan-size">
                <% if floor_plan.size %>
                  <p class="sq-ft floorplan-feature"><strong><%= floor_plan.size %> </strong>Sq Ft</p>
                <% end %>
              </div>

              <div class="floorplan-rent">
                <% if floor_plan.price %>
                  <p>Starts At: <strong>$<%= floor_plan.price %></strong></p>
                <% end %>
                <% if floor_plan.deposit %>
                  <p>Deposit: <strong>$<%= floor_plan.deposit %></strong></p>
                <% end %>
              </div>
            </div>
          </li> <!-- end floorplan -->
        <% end %>

      </ul>
    </div> <!-- end STEP 1: SELECT FLOORPLAN -->
  </div> <!-- end floorplan-container -->
</div> <!-- end floorplans -->


