<header class="clearfix">
  <h2 class="pull-left"><%= @location.name %> Floorplans</h2>
  <%= link_to 'Edit Location and Floorplans', edit_location_path(@location), class: "btn btn-primary btn-lg pull-right" %>
  <%= link_to 'Create New Floorplan', new_location_floorplan_path(@location), class: "btn btn-success btn-lg pull-right" %>
</header>

<% if @floorplans.empty? %>
  <p>No floorplans have been created yet.</p>
<% end %>


<div class="e-content">

  <h2>Select Your Apartment</h2>

  <div class="floorplan-container floorplan-box">

    <h3>1. Select Floor Plan</h3>

    <div id="filters" class="clearfix">

      <div class="beds-filter filter filter-btn">
        <strong class="color">Beds</strong>
        <a href="#" class="floorplan-btn">Studio</a>
        <a href="#" class="floorplan-btn">1</a>
        <a href="#" class="floorplan-btn">2</a>
        <a href="#" class="floorplan-btn">3</a>
        <a href="#" class="color floorplan-btn">All</a>
      </div>
      <div class="baths-filter filter filter-btn">
        <strong class="color">Baths</strong>
        <a href="#" class="floorplan-btn">1</a>
        <a href="#" class="floorplan-btn">2</a>
        <a href="#" class="floorplan-btn">3</a>
        <a href="#" class="color floorplan-btn">All</a>
      </div>
      <div class="filter available-filter">
        <label><input type="checkbox" /> Show Only Available</label>
      </div>

    </div> <!-- end filters -->

    <!-- STEP 1: CHOOSE FLOORPLAN -->
    <div class="floorplans-list">

      <ul>
        <% @floorplans.each do |floorplan| %>
          <li class="floorplan clearfix">

            <div class="floorplan-heading">
              <p><strong><%= floorplan.title %></strong></p>
              <% if floorplan.available_now && floorplan.available_soon %>
                <a href="<%= pricing_service(floorplan) %>" class="choose-floorplan floorplan-btn">
                  <% if floorplan.available_now && floorplan.available_now > 0 %>
                    <span><strong class="color"><%= floorplan.available_now %></strong> Available Now</span>
                  <% end %>
                  <% if floorplan.available_soon && floorplan.available_soon > 0 %>
                    <span class="soon"><strong class="color"><%= floorplan.available_soon %></strong> Available Soon</span>
                  <% end %>
                </a>
              <% end %>
            </div>

            <div class="floorplan-info">
              <div class="floorplan-img">
                <% if floorplan.floorplan %>
                  <a href="#" class="floorplan-btn"><img src="<%= floorplan.floorplan %>" alt="Floorplan" /></a>
                <% end %>
              </div>

              <div class="floorplan-beds">
                <% if floorplan.beds %>
                  <p><strong><%= floorplan.beds %></strong> <%= 'Bed'.pluralize(floorplan.beds) %></p>
                <% end %>
                <% if floorplan.baths %>
                  <p><strong><%= floorplan.baths %></strong> <%= 'Bath'.pluralize(floorplan.baths) %></p>
                <% end %>
              </div>

              <div class="floorplan-size">
                <% if floorplan.size %>
                  <p class="sq-ft floorplan-feature"><strong><%= floorplan.size %> </strong>Sq Ft</p>
                <% end %>
              </div>

              <div class="floorplan-rent">
                <% if floorplan.price %>
                  <p>Starts At: <strong>$<%= floorplan.price %></strong></p>
                <% end %>
                <% if floorplan.deposit %>
                  <p>Deposit: <strong>$<%= floorplan.deposit %></strong></p>
                <% end %>
              </div>
            </div>
          </li> <!-- end floorplan -->
        <% end %>

      </ul>
    </div> <!-- end STEP 1: SELECT FLOORPLAN -->
  </div> <!-- end floorplan-container -->
</div> <!-- end floorplans -->


